/* top area w/ month title and buttons */

#calendar {
		width: 1000px;
		margin: 0 auto;
		}
		
.full-calendar-header {
	text-align: left;
	}
	
.full-calendar-buttons {
	float: right;
	}
	
.full-calendar-buttons input {
	vertical-align: middle;
	font-size: 2.0em;
	}
	
.full-calendar-prev,
.full-calendar-next {
	width: 40px;
	margin-left: 5px;
	}
	
	
	
/* table & borders */
	
.full-calendar-month {
	clear: both;
	overflow: hidden; 
	border-style: solid;       
	border-color: black;       
	border-width: 1px 1px 1px 1px; 
	}

.full-calendar-month table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
.full-calendar-month th.day-heading,
.full-calendar-month td.day {
	padding: 0;
	font-weight: bold;
	vertical-align: top;
	border-style: solid;       
	border-color: black;       
	border-width: 1px 1px 1px 1px;
	}
	
.full-calendar-month tr.day-headings th {
	border-top: 0;
        font-size: 1.5em;
	}
	
.full-calendar-month th.sun,
.full-calendar-month td.sun {
	border-left: 0;
	}
	
	
	
/* day styling */
	
.full-calendar-month td.today {
	background: #FFFFCC;
	}
	
.full-calendar-month .day-number {
	text-align: right;
	padding-right: 2px;
	}
	
.full-calendar-month .other-month .day-number {
	color: #bbb;
	}
	
.full-calendar-month .day-content {
	padding: 2px 2px 0; /* distance between events and day edges */
	}
	

	
.full-calendar-month .event {
	margin-bottom: 2px;
	font-size: 1.1em;
	cursor: pointer;
	text-align: left;
	}
	
.full-calendar-month .ui-draggable-dragging td {
	cursor: move;
	}
	
.full-calendar-month .event td {
	background: #00FFFF;
	padding: 0;
	}
	
.full-calendar-month .event td.ne,
.full-calendar-month .event td.nw,
.full-calendar-month .event td.se,
.full-calendar-month .event td.sw {
	background: none;
	width: 1px;  /* <-- remove if you dont want "rounded" corners */
	height: 1px; /* <--                                           */
	}
	
.full-calendar-month .nobg td {
	background: none;
	}
	
.full-calendar-month .event td.c {
	padding: 0 5px;
	}
	
.full-calendar-month .event-time {
	font-weight: bold;
	}
	
	
	
/* the rectangle that covers a day when dragging an event */
	
.full-calendar-month .over-day {
	background: #00FFFF;
	opacity: .2;
	filter: alpha(opacity=20);
	}
