/* 

Nature Template 

http://www.templatemo.com/tm-398-nature

*/

body, html { overflow-x: hidden; }

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    font-style: normal; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Raleway', sans-serif; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}



.templatemo-content2 {
    position: static;
    overflow: hidden;
    margin-top: 5.8%;
    /* opacity: 0.5; */
    background: rgba(255,255, 255, 0.5);
}
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/* General */
#main-wrapper {
     overflow: hidden;
}


.templatemo-site-title { 
    width: 100%;
    color: #fff !important; 
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	font-size: 46px;
}

.templatemo-site-title2 { 

    color: #fff !important; 
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	font-size: 38px;
}

.templatemo-site-title a, .templatemo-site-title a:hover { 
	color: #fff;
	text-decoration: none;
}

img.slide {
    width: 100%; 
    z-index: -9999999; 
    position: absolute;
}

.active {
    display: block;
}

.inactive {
    left: 703px;
    display: none;
}

.image-section {
    position: fixed;
}

.image-container {
    position: relative;
}

.image-container-img {
    position: absolute;
}

.templatemo-content {
    position: static;
    overflow: hidden; 
    margin-top: 36%;
}

.templatemo-content section {
    font-family: 'Raleway', sans-serif;
    position: relative; 
    overflow: hidden;
    top: 0; 
    background-color: rgba(255,255,255,0.75);
    padding-bottom: 20px;
}


.templatemo-content-wrapper {
    overflow: hidden;
}

.templatemo-content h2 {
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.templatemo-content p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 16px;
}

.menu {
    margin-top: 5.8%;
    position: fixed; 
    width: 220px;
    z-index: 1; 
    top: 35px;
}

.titulo{
    
    background: rgb(255, 240, 255);
    background: rgba(255, 240, 255, 0.3);
}
#menu-list {
    background-color: rgba(0, 0, 0,0.5);
    font-size: 16px; 
    padding: 0;
}

#menu-list > li {
    display: block;
}


#menu-list > li > a {
    font-family: 'Raleway', sans-serif; 
    padding: 10px 0 10px 30px; 
    text-decoration: none; 
    display: block;
    color: #fff; 
}

#menu-list > .active > a,
#menu-list > li > a:hover { 
    background-color: rgba(255,255,255,0.25);
}


#responsive {
    font-size: 16px;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}

#responsive li {
    display: block;
}

#responsive li a {
    font-family: 'Raleway', sans-serif; 
    color: #fff; 
    text-decoration: none; 
    padding: 10px 0;
    display: block;
}

#responsive > .active > a,
#responsive li a:hover {
    background-color: rgba(0,0,0,0.5);
}

#map-canvas {
	height: 256px;
	margin-bottom: 10px;
}

#header {
	overflow: hidden;
	padding: 5px;
	z-index: 10;
}

#header, .header-btn {
	position: relative;
	height: 30px;
}

.header-logo {
	bottom: 0;
	display: block;
	left: 50%;
	top: 5px;
	text-align: center;
}

.header-user {
	position: absolute;
	top: 5px;
	right: 0;
}

.header-btn {
	color: #a0c5c8;
	display: block;
	font-weight: 700;
	line-height: 30px;
	margin-right: 8px;
	min-width: 30px;
	padding: 0;
}

.header-btn-text {
	padding: 0 8px;
	font-size: 26px;
}

.header-btn-icon {
	font-size: 1pc;
	line-height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.image-center {
	display: block;
	text-align: center;
}

div {
	display: block;
}

.templatemo-content {
    padding-bottom: 6%;
}

.footer {
    overflow: hidden; 
    position: fixed; 
    bottom: 10px;
}

.footer-text {
    font-family: 'Raleway', sans-serif; 
    color: #fff; 
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    margin-left: 30px;
    font-size: 14px;
}

.footer-text a, .footer-text a:hover { 
	color: #fff;
	text-decoration: none;
}

@media (max-width: 991px) {
    .footer {
        overflow:hidden; 
        position:static;
        text-align: center;
        
    }
    .footer-text {
        margin-left: 0;
    }
}
